.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadIn 3s;
}

.header-content h2 {
    font-size: max(4.5vw, 22px);
    font-weight: 500;
    color: white;
}

.header-content p {
    color: white;
}

.header-content button {
    border: none;
    counter-reset: #747474;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    font-weight: 500;
}

@media (max-width:1050px) {
    .header-content {
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-content {
        max-width: 55%;
    }

    .header-content p {
        display: none;
    }

    .header-content button {
        padding: 2vw 4vw;
    }
}